<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto-Social Poster</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Auto-Social Poster</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('settings') }}">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About us</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Sign up</a>
                </li>                
                {% endif %}
            </ul>
        </div>
    </nav>


    <div class="container mt-5">
        <!-- Display alert message here -->
        {% if user_id %}
            <div id="flash-container"></div>
        {% endif %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p id="flash-message" class="alert alert-info">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <!-- Create Post button -->
        <div class="mb-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPostModal">
                Create Post
            </button>
        </div>

       <!-- Tab navigation -->
       <ul class="nav nav-tabs" id="postTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="unpublished-tab" data-toggle="tab" href="#unpublished" role="tab" aria-controls="unpublished" aria-selected="true">Unpublished</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="published-tab" data-toggle="tab" href="#published" role="tab" aria-controls="published" aria-selected="false">Published</a>
            </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content mt-3" id="postTabContent">
            <div class="tab-pane fade show active" id="unpublished" role="tabpanel" aria-labelledby="unpublished-tab">
                <!-- Display unpublished posts here -->
                <ul class="list-group">
                    {% for post in unpublished_posts %}
                    <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <p>{{ post.post_text }}</p>
                            {% if post.post_media_link %}
                            <a href="{{ post.post_media_link }}">"{{ post.post_media_link }}"</a>
                            {% endif %}
                        </div>
                        <div>
                            <!-- Countdown timer for scheduled posts -->
                            <span id="countdown-{{ post.id }}" class="text-dark" data-post-id="{{ post.id }}" data-scheduled-time="{{ post.scheduled_time }}"></span>

                            <!-- Button group to align buttons on the right -->
                            <div class="btn-group" role="group">
                                <!-- Post button -->
                                <button type="button" class="btn btn-success btn-sm delete-btn mr-2 mb-1" data-post-id="{{ post.id }}" onclick="sendPost('{{ post.id }}')">Post</button>
                                <!-- Edit button -->
                                <button type="button" class="btn btn-primary mr-2 mb-1" onclick="openEditModal('{{ post.id }}', '{{ post.post_text }}')">Edit</button>
                                <!-- <a href="#" class="btn btn-primary btn-sm convert-btn mr-1" data-post-id="{{ post.id }}" aria-labelledby="convert-label-{{ post.id }}">Edit</a> -->
                                <!-- Delete button -->
                                <button type="button" class="btn btn-danger btn-sm delete-btn mb-1" data-post-id="{{ post.id }}" onclick="deletePost('{{ post.id }}')">Delete</button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <!-- Message for no unpublished posts -->
                {% if not unpublished_posts %}
                <p class="text-dark">No unpublished posts</p>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="published" role="tabpanel" aria-labelledby="published-tab">
                <!-- Display published posts here -->
                <ul class="list-group">
                    {% for post in published_posts %}
                    <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <p>{{ post.post_text }}</p>
                            {% if post.post_media_link %}
                            <a href="{{ post.post_media_link }}">"{{ post.post_media_link }}"</a>
                            {% endif %}
                        </div>
                        <div>
                            <!-- Button group to align buttons on the right -->
                            <div class="btn-group" role="group">
                                <!-- Post button -->
                                <button type="button" class="btn btn-success btn-sm delete-btn mr-2 mb-1" data-post-id="{{ post.id }}" onclick="sendPost('{{ post.id }}')">Re-Post</button>
                                <!-- Edit button -->
                                <button type="button" class="btn btn-primary mr-2 mb-1" onclick="openEditModal('{{ post.id }}', '{{ post.post_text }}')">Edit</button>
                                <!-- <a href="#" class="btn btn-primary btn-sm convert-btn mr-1" data-post-id="{{ post.id }}" aria-labelledby="convert-label-{{ post.id }}">Edit</a> -->
                                <!-- Delete button -->
                                <button type="button" class="btn btn-danger btn-sm delete-btn mb-1" data-post-id="{{ post.id }}" onclick="deletePost('{{ post.id }}')">Delete</button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <!-- Message for no published posts -->
                {% if not published_posts %}
                <p class="text-dark">No published posts</p>
                {% endif %}
            </div>
        </div>

            
        <!-- Create Post Modal -->
        <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addPostModalLabel">Create Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="addPostForm" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="post-text">Post Text</label>
                                <textarea class="form-control" id="post-text" name="post_text" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="post-media">Upload Media</label>
                                <input type="file" class="form-control-file" id="post-media" name="post_media">
                            </div>
                            <div class="form-group">
                                <label for="schedule-time">Schedule Time</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button" id="schedule-button">Schedule</button>
                                    </div>
                                    <input type="text" class="form-control" id="schedule-time" name="schedule_time" value="">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="submitAddForm()">Add Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <!-- Edit Post Modal -->
        <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editPostModalLabel">Edit Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editPostForm" method="POST" enctype="multipart/form-data">
                            <input type="hidden" id="editPostId" name="post_id">
                            <div class="form-group">
                                <label for="edit_post_text">Post Text</label>
                                <textarea class="form-control" id="edit_post_text" name="post_text" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="edit_post_media">Upload Media</label>
                                <input type="file" class="form-control-file" id="edit_post_media" name="post_media">
                            </div>
                            <div class="form-group">
                                <label for="edit-schedule-time">Schedule Time</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button" id="edit-schedule-button">Schedule</button>
                                    </div>
                                    <input type="text" class="form-control" id="edit-schedule-time" name="edit_schedule_time">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="submitEditForm()">Update Post</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Add Bootstrap JS and Popper.js (required for some Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">


    <script>
        // Display the selected filename in the custom file input
        function displayFileName() {
            var input = document.getElementById('file');
            var label = document.getElementById('file-label');
            label.innerText = input.files[0].name;
        }

        setTimeout(function () {
            var flashMessage = document.getElementById('flash-message');
            flashMessage.style.display = 'none';
        }, 5000);

        $(document).ready(function () {
            // Initialize datetimepicker
            $('#schedule-time').datetimepicker({
                inline: true,
                sideBySide: true,
                useCurrent: false
            });

            // Handle click event for the schedule button
            $('#schedule-button').click(function () {
                var picker = $('#schedule-time');
                if (picker.length > 0) {
                    // Toggle the visibility of the datetimepicker
                    picker.datetimepicker('toggle');
                }
            });
        });

        $(document).ready(function () {
            // Initialize datetimepicker
            $('#edit-schedule-time').datetimepicker({
                inline: true,
                sideBySide: true
            });

            // Handle click event for the schedule button
            $('#edit-schedule-button').click(function () {
                var picker = $('#edit-schedule-time');
                if (picker.length > 0) {
                    // Toggle the visibility of the datetimepicker
                    picker.datetimepicker('toggle');
                }
            });
        });


        // Show/hide add post form
        $('#add-post-btn').click(function() {
            $('#add-post-form').toggle();
        });

        function submitAddForm() {
        // Create FormData object to store form data
        var formData = new FormData(document.getElementById('addPostForm'));

        // Send AJAX request to handle form submission
        $.ajax({
            type: 'POST',
            url: '/add',
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
                // If successful, reload the page or update the post list dynamically
                location.reload();
            },
            error: function(error) {
                // Handle errors, if any
                console.error('Error:', error);
            }
         });
        }

        // Function to open the edit modal and populate it with post data
        function openEditModal(postId, postText) {
            $('#editPostId').val(postId);
            $('#edit_post_text').val(postText);
            $('#editPostModal').modal('show');
        }

        // Function to handle form submission for editing
        function submitEditForm() {
            // Get form data
            var formData = new FormData(document.getElementById('editPostForm'));

            // Get the post ID
            var postId = $('#editPostId').val();

            // Send form data using AJAX
            $.ajax({
                type: 'POST',
                url: '/edit/' + postId,
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    // Reload the page or update the post list dynamically
                    location.reload();
                },
                error: function(error) {
                    // Handle errors, if any
                    console.error('Error:', error);
                }
            });
        }

        // Function to handle post deletion
        function sendPost(postId) {
            // Send AJAX request to delete the post
            $.ajax({
                type: 'GET',
                url: '/post/' + postId,
                success: function(response) {
                    // Reload the page or update the post list dynamically
                    location.reload();
                },
                error: function(error) {
                    // Handle errors, if any
                    console.error('Error:', error);
                }
            });
        }

        // Function to handle post deletion
        function deletePost(postId) {
            // Send AJAX request to delete the post
            $.ajax({
                type: 'GET',
                url: '/delete/' + postId,
                success: function(response) {
                    // Reload the page or update the post list dynamically
                    location.reload();
                },
                error: function(error) {
                    // Handle errors, if any
                    console.error('Error:', error);
                }
            });
        }

        $(document).ready(function() {
            // Display unpublished posts by default
            displayPosts("unpublished");

            // Handle tab clicks
            $("#postTabs a").on("click", function(event) {
                event.preventDefault();
                var tab = $(this).attr("id").replace("-tab", "");
                displayPosts(tab);
            });
        });

        // Function to display posts based on the selected tab
        function displayPosts(tab) {
            // Hide all posts and messages
            $("#unpublishedPosts, #publishedPosts, #noUnpublishedPosts, #noPublishedPosts").hide();

            // Show the selected tab content
            $("#" + tab + "Posts").empty(); // Clear previous posts
            var posts = tab === "unpublished" ? unpublishedPosts : publishedPosts;
            if (posts.length > 0) {
                $.each(posts, function(index, post) {
                    $("#" + tab + "Posts").append('<li class="list-group-item">' + post.text + '</li>');
                });
            } else {
                $("#no" + tab.charAt(0).toUpperCase() + tab.slice(1) + "Posts").show();
            }
        }

        function updateCountdownTimer(postId, scheduledTime) {
            var countdownElement = document.getElementById('countdown-' + postId);
            var scheduledDate = new Date(scheduledTime);
            
            // Update the countdown timer every second
            var intervalId = setInterval(function() {
                var now = new Date();
                // Calculate remaining time in milliseconds
                var diff = scheduledDate.getTime() - now.getTime();

                // Update countdown timer
                var days = Math.floor(diff / (1000 * 60 * 60 * 24));
                var hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((diff % (1000 * 60)) / 1000);
                
                // Format countdown string
                var countdownString = days + "d " + hours + "h " + minutes + "m " + seconds + "s";
                countdownElement.innerText = countdownString;

                if (diff < 0) {
                    sendPost(postId)
                    clearInterval(intervalId)
                }
            }, 1000);

        }

        // Select all span elements with the specified attributes
        var countdownElements = document.querySelectorAll('span[data-post-id][data-scheduled-time]');
        // Loop through each countdown element
        countdownElements.forEach(function(element) {
            // Access the data attributes
            var postId = element.getAttribute('data-post-id');
            var scheduledTime = element.getAttribute('data-scheduled-time');

            // Do something with postId and scheduledTime
            console.log("Post ID:", postId);
            console.log("Scheduled Time:", scheduledTime);
            updateCountdownTimer(postId, scheduledTime);

        });

    </script>

</body>
</html>